.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 3px solid black;
    border-radius: 3px;
    margin: 1em 1em;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card__list{
    list-style: none;
    padding: 0;
    
  }
  
  .card__question {
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  .card__answer {
    font-family: monospace;
    margin: 1em;
    font-size: 1rem;
  }
  
  .card__answer--off {
    display: none;
  }
  
  .card__answer-button {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid;
    color: black;
  }
  .card__answer-button:hover {
    cursor: pointer;
  }
  
  .card__bookmark-icon {
    width: 30px;
    position: absolute;
    top: -10px;
    right: 10px;
    background-color: white;
  }
  .card__bookmark-icon:hover {
    cursor: pointer;
  }
  .card__tag-list {
    padding: 0; /* a list has as default padding-left of 20px; */
    margin: 1em;
  }
  .card__tag-list-item {
    display: inline;
    margin: 5px;
  }
  